#slideout {
			background-color:red;
			height:40px;
			width:60px;
			position: fixed;
			top: 40px;
			left: 0;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			-o-transition-duration: 0.3s;
			transition-duration: 0.3s;
		}
		#slideout_inner {
			background-color:green;
			height:350px;
			width:250px;
			position: fixed;
			top: 40px;
			left: -250px;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			-o-transition-duration: 0.3s;
			transition-duration: 0.3s;
		}
		#slideout:hover {
			left: 250px;
		}
		#slideout:hover #slideout_inner {
			left: 0;
		}
		#slideImage{
			height:40px;
			width:60px;
		}