/*------------------------------------------------------------*/
/* <screen-sizes>
 iPhone is 320×480,
 iPhone 4 is 640×960
 iPhone 5 is 640×1136
 iPad 2 1024 x 768 pixels
 </screen-sizes>
 */
/*------------------------------------------------------------*/
@media screen and (max-width: 5000px) {
	#page {
		background-image: url('images/photo-1024-768.jpg');
		min-height: 768px;
	}
	
}

@media screen and (max-width: 1024px) {
	#page {
		background-image: url('images/photo-1024-768.jpg');
		min-height: 768px;
	}
	
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 768px) {
	#page {
		background-image: url('images/photo-768-1024.jpg');
		min-height: 960px;
	}
	
}
@media screen and (max-width: 640px) {

	#page {
		background-image: url('images/photo-640-960.jpg');
		min-height: 960px;
	}
	
}
@media screen and (max-width: 480px) {

	#page {
		background-image: url('images/photo-480-600.jpg');
		min-height: 600px;
	}
	
}
@media screen and (max-width: 320px) {
	#page {
		background-image: url('images/photo-320-480.jpg');
		min-height: 480px;
	}

}