#navigation{
	height:54px;
	min-height:44px;
	padding-top:14px;
	/*background-color:#000000;*/
	background-image: url('../images/transparentBlack75percent.png');
	
}
.navigationButton{
	min-height:40px;
	height:40px;
	min-width:75px;
	width:75px;
}
.menu_item {
	display: none;
}